<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table>
  <thead>
    <tr>
      <th>Review</th>
      <th>Review rating</th>
      <th>User</th>
      <th>User profile url</th>
      <th>User image url</th>
      <th>User name</th>
      <th>Review text</th>
      <th>Review time created</th>
      <th>Review url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.review_id %></td>
        <td><%= review.review_rating %></td>
        <td><%= review.user_id %></td>
        <td><%= review.user_profile_url %></td>
        <td><%= review.user_image_url %></td>
        <td><%= review.user_name %></td>
        <td><%= review.review_text %></td>
        <td><%= review.review_time_created %></td>
        <td><%= review.review_url %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
