<p id="notice"><%= notice %></p>

<p>
  <strong>Review:</strong>
  <%= @review.review_id %>
</p>

<p>
  <strong>Review rating:</strong>
  <%= @review.review_rating %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>User profile url:</strong>
  <%= @review.user_profile_url %>
</p>

<p>
  <strong>User image url:</strong>
  <%= @review.user_image_url %>
</p>

<p>
  <strong>User name:</strong>
  <%= @review.user_name %>
</p>

<p>
  <strong>Review text:</strong>
  <%= @review.review_text %>
</p>

<p>
  <strong>Review time created:</strong>
  <%= @review.review_time_created %>
</p>

<p>
  <strong>Review url:</strong>
  <%= @review.review_url %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
